---
services:
  authelia:
    image: authelia/authelia
    container_name: authelia
    volumes:
      - ./config:/config:ro
    networks:
      default:
      traefik:
        aliases:
          - sso.${DOMAINNAME}
      ldap:
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.authelia.rule=Host(`sso.${DOMAINNAME}`)'
      - 'traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/authz/forward-auth'  # yamllint disable-line rule:line-length
      - 'traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true'
      - 'traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email'  # yamllint disable-line rule:line-length
      - traefik.http.routers.authelia.middlewares=secheader@file
    expose:
      - 9091
    restart: unless-stopped
    healthcheck:
      ## In production the healthcheck section should be commented.
      disable: true
    environment:
      - TZ=Europe/Berlin
      - X_AUTHELIA_CONFIG_FILTERS=template
      - AUTHELIA_STORAGE_POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - ${VOLUMES_DIR}/redis:/data
    networks:
      - default
    expose:
      - 6379
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin

  db:
    image: postgres:16
    restart: unless-stopped
    networks:
      - default
    volumes:
      - ${VOLUMES_DIR}/postgres/db/16/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=authelia
      - POSTGRES_USER=authelia
      - POSTGRES_PASSWORD

networks:
  ldap:
    name: ldap
    external: true
  traefik:
    name: traefik
    external: true
