DOMAINNAME=docker.localhost
SERVICENAME=authelia
VOLUMES_DIR=./docker/volumes

AUTHELIA_STORAGE_ENCRYPTION_KEY=secret-secret-secret
AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD=admin
AUTHELIA_SESSION_SECRET=secret
AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET=secret
AUTHELIA_LOG_LEVEL=trace

POSTGRES_PASSWORD=authelia

AUTHELIA_NOTIFIER_SMTP_ADDRESS=submissions://mail.example.com
AUTHELIA_NOTIFIER_SMTP_USERNAME=system@example.com
AUTHELIA_NOTIFIER_SMTP_PASSWORD=secret
AUTHELIA_NOTIFIER_SMTP_SENDER=noreply@example.com

AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET=secret
