---
# yaml-language-server: $schema=https://www.authelia.com/schemas/v4.38/json-schema/configuration.json

server:
  address: 'tcp://:9091'

log:
  level: 'debug'

totp:
  issuer: 'MHN'

authentication_backend:
  ldap:
    address: 'ldap://ldap'
    base_dn: 'dc=mind-hochschul-netzwerk,dc=de'
    user: 'cn=admin,dc=mind-hochschul-netzwerk,dc=de'
    additional_users_dn: 'ou=people'
    users_filter: '(&({username_attribute}={input})(objectClass=person))'
    additional_groups_dn: 'ou=groups'
    groups_filter: '(&(member={dn})(objectclass=groupOfNames))'
    attributes:
      group_name: 'cn'
      username: 'cn'
      distinguished_name: 'distinguishedName'
      family_name: 'sn'
      given_name: 'givenName'
      mail: 'mail'
  password_reset:
    disable: true

access_control:
  default_policy: 'one_factor'
  rules:
    - domain: 'sso.{{ env "DOMAINNAME" }}'
      policy: 'one_factor'
    - domain: 'paperless.{{ env "DOMAINNAME" }}'
      policy: 'two_factor'
      subject:
      - ['group:finanzteam']
      - ['group:vorstand']
session:
  cookies:
    - name: 'authelia_session'
      domain: '{{ env "DOMAINNAME" }}'
      authelia_url: 'https://sso.{{ env "DOMAINNAME" }}'
      expiration: '1 hour'
      inactivity: '5 minutes'

  redis:
    host: 'redis'
    port: 6379

regulation:
  max_retries: 3
  find_time: '2 minutes'
  ban_time: '5 minutes'

storage:
  postgres:
    address: 'tcp://db:5432'
    schema: 'public'
    username: authelia
    database: authelia

identity_providers:
  oidc:
    jwks:
      - key: {{ secret "/config/secrets/oidc/jwks/rsa.2048.key" | mindent 10 "|" | msquote }}
    cors:
      endpoints:
        - 'authorization'
        - 'token'
        - 'revocation'
        - 'introspection'
        - 'userinfo'
      allowed_origins_from_client_redirect_uris: true
    minimum_parameter_entropy: 4
    clients:
      - client_id: paperless
        client_name: Paperless
        client_secret: '$pbkdf2-sha512$310000$jhKEKG9fPiTzasuQJ2tr5g$C7GOhzoL0D7c64hlmCq0poC5CUARN3b7zKNm6dAo7R9fBDqNdy4duU3UxqrU5dZh.rlmQ5M2uW5l3geOnjLcCA'
        public: false
        redirect_uris:
          - https://paperless.{{ env "DOMAINNAME" }}/accounts/oidc/authelia/login/callback/
        scopes:
          - openid
          - groups
          - profile
          - email
        authorization_policy: 'two_factor'
        consent_mode: implicit

      - client_id: vikunja
        client_name: Vikunja
        client_secret: '$pbkdf2-sha512$310000$t7n/rKN4K.PSS0ZTbKOi2w$ZlDO/9dLw/DdjcywSoqtZvG2bdsjHAVOCOUSojzhnBSkUqdkw9418c90MjfdEZmslHfuDIiqvdKymRAbTqBcxw'
        public: false
        redirect_uris:
          - https://tasks.{{ env "DOMAINNAME" }}/auth/openid/authelia
        scopes:
          - openid
          - groups
          - profile
          - email
        authorization_policy: 'one_factor'
        consent_mode: implicit

      - client_id: listmonk
        client_name: Listmonk
        client_secret: '$pbkdf2-sha512$310000$kRYbrVxIRLs05fpBxWnHAg$BQhM.02g075fK2uxPtlXJanqh6yyuDbYC2Ybr.JxvmPQGKjkNpUCJNWOjTkKFNbmm8BWYTjBOrCRK3hizd6UIw'
        public: false
        redirect_uris:
          - https://listmonk.{{ env "DOMAINNAME" }}/auth/oidc
        scopes:
          - openid
          - groups
          - profile
          - email
        authorization_policy: 'two_factor'
        consent_mode: implicit
        grant_types:
          - 'refresh_token'
          - 'authorization_code'
        response_types:
          - code

      - client_id: outline
        client_name: Outline
        client_secret: $pbkdf2-sha512$310000$hsGOwPixAQvtc2U0kNRtkg$862jrdsi6nImDi5Y7qo2BTDpm8fVAxZ1QjYsXHNlu5WT0FlBMbjXBuRBIYpLbE.TdIQkSk5g9dF1uQVRTZ8fwA
        public: false
        redirect_uris:
          - https://wiki.{{ env "DOMAINNAME" }}/auth/oidc.callback
        scopes:
          - 'openid'
          - 'offline_access'
          - 'profile'
          - 'email'
        authorization_policy: one_factor
        consent_mode: implicit
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_post'
